.heading {
    margin-bottom: 5vh;
    text-align: center;
}
.heading>h2 {
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    color: #007bff;
    font-family: 'Inter';
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.121), 0px -5px 35px rgba(255,255,255,0.3);
}
.cou-sty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.3rem;
}
.cou-len {
    display: flex;
    align-items: center;
}
.cou-len>h4 {
    color: white;
    margin: 0px;
}
.sh-icon {
    color: white;
    font-size: 1.6rem;
    font-weight: bolder;
    text-decoration: none;
    margin-left: auto;
}
.sh-icon:hover {
    color: white;
    cursor: pointer;
}
.cou-dropdown {
    overflow: hidden;
    height: 0px;
}


.enter-animation {
    animation-name: enter;
    animation-play-state: running;
    animation-duration: 300ms;
    animation-timing-function: linear;
    border: 1px solid g