@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

#desk {
    margin-top: 15vh;
}
#desksec1 {
    text-align: center;
    margin-bottom: 1vh;
}
#desksec2 {
    margin-left: auto;
}
.deskimg {
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px rgba(42, 42, 42, 0.174);
}
.deskname {
    font-family: 'Amita', cursive;
    color: #007bff;
    margin-top: 1.3rem;
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.121), 0px -5px 35px rgba(255,255,255,0.3);
}
.deskhead {
    color: #007bff;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1.5px solid gray;
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.121), 0px -5px 35px rgba(255,255,255,0.3);
}
.deskp4>strong {
    font-size: 1.25rem;
    font-style: italic;
}